.rgb-dot {
    display: flex;
}
.rgb-dot {
    user-select: none;
    position: relative;
    
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 2px solid #ffffffaa;
    cursor: pointer;

    &.selected {
        border: 2px solid #ffffff;
    }
}