@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#root {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  margin: 0;
  transform: rotate(90deg);
  letter-spacing: 10px;
}


.panels {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  
  .central-panel {
    flex: 0 1 800px;
    padding: 40px;
    background-color: #222;
    height: 750px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #ffffff44 inset, -3px -3px 0px #000000 inset;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

  }

  .dmx-button-details-placeholder {
    border-radius: 5px;
    box-shadow: 3px 3px 0px #111 inset, 2px 2px 0px #333;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;


    font-size: 12px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
  }
}

.left-and-right {
  display: flex;
  row-gap: 10px;
  column-gap: 20px;
  padding: 30px 0;
}

.dmx-buttons {
      display: grid;
      grid-template-columns: repeat(6, 84px);
      grid-template-rows: 84px 84px;
      justify-content: space-between;
      row-gap: 25px;
      height: 200px;
    }

@media (max-width: 700px) {
  .dmx-buttons {
      grid-template-columns: repeat(4, 84px);
      height: 300px;
  }  
}
@media (max-width: 800px) {
  .panels {
    .central-panel {
      height: 100%;
      box-shadow: none;
    }
  }
    
    .left-and-right { 
      flex-direction: column;
    }
}

.btn {
  border: 2px solid #444;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #111;
  position: relative;
  background-color: #222;
  cursor: pointer;
  padding: 0 10px;

  &:hover {
    top: 1px;
    left: 1px;
    box-shadow: 4px 4px 0px #000000;
  }
}

.empty-btn {
  border-radius: 5px;
  box-shadow: 3px 3px 0px #111 inset, 2px 2px 0px #333;
  
  font-size: 12px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px;

  &:hover {
      color: #999;
  }
}