.labelled-status {
    display: flex;
    padding: 5px 0;
    column-gap: 5px;
    .signal {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: grey;
        box-sizing: border-box;
        margin: 3px 0;
        
        &.Green {
            background-color: #8fdf61;
        }
        &.Orange {
            background-color: #df9a61;
        }
        &.Red {
            background-color: #df6161;
        }
    }
    .label {
        text-transform: uppercase;
        line-height: 20px;
    }
}